<md-content class="center" id="top">

    <div class="header-top">
        <a href="http://www.linkedin.com/company/xebia-france" class="fa fa-linkedin" target="_blank">
        </a>

        <a href="https://plus.google.com/100396468532572979348/posts" class="fa fa-google-plus" target="_blank">
        </a>

        <a href="https://twitter.com/XebiaFr" class="fa fa-twitter" target="_blank">
        </a>

        <a href="http://fr.slideshare.net/XebiaFrance" class="fa fa-slideshare" target="_blank">
        </a>

        <span>|</span>
        <a href="http://blog.xebia.fr" class="" target="_blank">Blog</a>

        <a href="http://www.xebia.tv" target="_blank">Xebia TV</a>

        <a href="http://www.xebia.fr/career.html" class="" target="_blank">Nous Rejoindre</a>
    </div>

    <md-toolbar>
        <div class="md-toolbar-tools">
            <a href="#/"><img src="img/logo_vismavie_2.png" /></a>

            <span flex></span>

            <a href="#/#concept" class="menu-link">Concept</a>

            <md-menu md-offset="0 -7">
                <a ng-click="$mdOpenMenu()" class="menu-link">
                    Episodes
                </a>
                <md-menu-content width="4">
                    <md-menu-item ng-repeat="item in ['Président', 'CTO', 'Dir. Xebia Studio', 'Dir. Recrutement', 'Dir. Marketing', 'DAF', 'COO', 'Dir. Commerciale', 'Consultant Manager']">
                        <md-button ng-disabled="item == 'COO' || item == 'Consultant Manager' || item == 'Dir. Commerciale'" href="#/details?id={{item}}">
                            <span md-menu-align-target>VMV de {{item}}</span></md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>


        </div>
    </md-toolbar>
</md-content>