<div class="autre_video center">
    <div class="video episode1">
        <md-button ng-click="changeData(1)" class="md-raised md-primary md_button_video">Épisode 1 : VIS MA VIE DE CTO</md-button>
    </div>
    <div class="video episode2">
        <md-button ng-click="changeData(2)" class="md-raised md-primary md_button_video">Épisode 2 : VIS MA VIE DE CEO</md-button>
    </div>
    <div class="video episode3">
        <md-button ng-click="changeData(3)" class="md-raised md-primary md_button_video">Épisode 3 : VIS MA VIE DE DIRECTRICE MARKETING</md-button>
    </div>
    <div class="video episode4">
        <md-button ng-click="changeData(4)" class="md-raised md-primary md_button_video">Épisode 4 : VIS MA VIE DE RESPONSABLE DU RECRUTEMENT</md-button>
    </div>
    <div class="video episode5">
        <md-button ng-click="changeData(5)" class="md-raised md-primary md_button_video">Épisode 5 : VIS MA VIE DE COO</md-button>
    </div>
    <div class="video episode6">
        <md-button ng-click="changeData(6)" class="md-raised md-primary md_button_video">Épisode 6 : VIS MA VIE DE MANAGER</md-button>
    </div>
    <div class="video episode7">
        <md-button ng-click="changeData(7)" class="md-raised md-primary md_button_video">Épisode 7 : VIS MA VIE DE DIRECTRICE COMMERCIALE</md-button>
    </div>
    <div class="video episode8">
        <md-button ng-click="changeData(8)" class="md-raised md-primary md_button_video">Épisode 8 : VIS MA VIE DE DAF</md-button>
    </div>
    <div class="video episode9">
        <md-button ng-click="changeData(9)" class="md-raised md-primary md_button_video">Épisode 9 : VIS MA VIE DE RESPONSABLE XEBIA STUDIO</md-button>
    </div>

</div>