<div class="autre_video center">
    <div class="video episode1">
        <md-button ng-click="changeData('Président')" class="md-raised md-primary md_button_video disable">Épisode 1 : VIS MA VIE DE PRÉSIDENT</md-button>
    </div>
    <div class="video episode2">
        <md-button ng-click="changeData('CTO')" ng-disabled="true" class="md-raised md-primary md_button_video disable">Épisode 2 : VIS MA VIE DE CTO</md-button>
    </div>
    <div class="video episode9">
        <md-button ng-click="changeData('Responsable Xebia Studio')" ng-disabled="true" class="md-raised md-primary md_button_video disable">Épisode 3 : VIS MA VIE DE DIRECTEUR XEBIA STUDIO</md-button>
    </div>
    <div class="video episode4">
        <md-button ng-click="changeData('Responsable du Recrutement')" ng-disabled="true" class="md-raised md-primary md_button_video disable">Épisode 4 : VIS MA VIE DE DIRECTRICE RECRUTEMENT</md-button>
    </div>
    <div class="video episode3">
        <md-button ng-click="changeData('Dir. Marketing')" ng-disabled="true" class="md-raised md-primary md_button_video disable">Épisode 5 : VIS MA VIE DE DIRECTRICE MARKETING</md-button>
    </div>
    <div class="video episode8">
        <md-button ng-click="changeData('DAF')" ng-disabled="true" class="md-raised md-primary md_button_video disable">Épisode 6 : VIS MA VIE DE DAF</md-button>
    </div>
    <div class="video episode5">
        <md-button ng-click="changeData('COO')" ng-disabled="true" class="md-raised md-primary md_button_video disable">Épisode 7 : VIS MA VIE DE COO</md-button>
    </div>
    <div class="video episode7">
        <md-button ng-click="changeData('Dir. Commerciale')" ng-disabled="true" class="md-raised md-primary md_button_video disable">Épisode 8 : VIS MA VIE DE DIRECTRICE COMMERCIALE</md-button>
    </div>
    <div class="video episode6">
        <md-button ng-click="changeData('Manager')" ng-disabled="true" class="md-raised md-primary md_button_video disable">Épisode 9 : VIS MA VIE DE MANAGER</md-button>
    </div>



</div>